.nav {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px;
  width: 100%;
  height: 40px;
  z-index: 200 !important;
  transition: all 0.2s;
  display: flex;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0)
  );
}
.nav__logos {
  display: flex;
  justify-content: space-between;
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  position: fixed;
  top: 5px;
  left: 0;
  width: 120px;
  object-fit: contain;
  padding-left: 35px;
}

.nav__avatar {
  position: fixed;
  right: 30px;
  width: 40px;
  height: 40px;
}

.nav__logos > img:hover {
  cursor: pointer;
}

.nav__directory > ul {
  display: flex;
  margin-left: 150px;
}

.nav__directory > ul > li {
  color: white;
  padding: 10px 12px;
  list-style-type: none;
  font-weight: 400;
}

.nav__directory__option {
  cursor: pointer;
}

.nav__directory__option-selected {
  font-weight: 700 !important;
  cursor: default;
}

.nav__secondary__directory {
  display: flex;
  color: white;
  padding: 3px 12px;
  font-size: large;
  margin-left: auto;
  margin-right: 85px;
}

.nav__secondary__element {
  margin-right: 18px;
  cursor: pointer;
}

.nav__secondary__element-KIDS {
  display: block;
  margin-top: 5px;
}
